*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar{
    background-color: black;
    height:90px;
}

.navbar div img{
    margin:20px 70px;
    height: 40px;
    width: 110px;
  }
  
  .grow-list{
    position: relative;
    left:18%;
    top:-60px;
    padding: 10px 0% 10px 20px;
    border-left: 2px solid white;
    width:700px;
  }
  
  .list-item{
    display:inline;
    font-size: 15px ;
    font-family: Montserrat;
    font-weight: 500;
    padding: 0 20px;
    color:white;
  }

  .list li:first-child::after{
    content: "∨";
    color:white;
    font-size: 10px;
    font-weight: bold;
    padding-left: 8px;
  }

  .button-small{
    position: relative;
    float:right;
    margin-right: 150px;
    top:-100px;
    padding: 8px 18px;
    font-size: 15px;
    font-family: Poppins; 
    color:white;
    background-color:#c53bc5;
    border: none;
    border-radius: 5px;
  }

  .hero{
    background: url("./assets/bg.png") no-repeat;
    background-size:100% 560px;
    height:560px;
    width:100%;
    position: relative;
  }

  .hero-heading{
    position: absolute;
    margin-top: 80px;
    margin-left: 30%;
    width:650px;
    font-family: Montserrat;
    font-size: 60px;
    color: white;
  }

  .hero-description{
    position: absolute;
    margin-top: 230px;
    margin-left: 35%;
    width:650px;
    font-family: Poppins;
    font-size: 20px;
    color: white;
    font-weight: 500;
  }

  .button-large{
    position: absolute;
    margin-top: 350px;
    margin-left: 43%;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Poppins; 
    color:white;
    background-color:#cf31cf;
    border: none;
    border-radius: 5px;
  }